{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Next Page</title>
    <link rel="stylesheet" href="{% static 'css/next-styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <button onclick="goBack()"> ← Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
     <h1>You are <span id="element">{{ element }}</span> bender</h1>
</header>
<main>
    <div id="image-container">
         <img id="image" src="{{ random_image }}" alt="Random Image">
    </div>

    <script src="{% static 'js/next-script.js' %}"></script>
</main>
</body>
</html>